<footer class="bg-dark text-white text-center text-lg-start">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-2 border-bottom">
        <!-- Left -->
        <div class="me-1 d-none d-lg-block">
            <div class="text-center p-3">
                Mohamed Monged جميع الحقوق محفوظة لدى © 2024
            </div>
        </div>
        <!-- Left -->

        <!-- Right -->
        <div>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-google"></i>
            </a>
            <a href="#" class="me-4 text-reset">
                <i class="fab fa-linkedin"></i>
            </a>
            <a href="#" class="me-4 text-reset github">
                <i class="fab fa-github mo"></i>
            </a>
        </div>
        <!-- Right -->
    </section>
</footer>
